body {
}

.mdl-layout-title i {
    font-size:36px;
}

.mdl-layout__content {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.mdl-layout__header-row {
    padding-left: 30px;
}

.mdl-layout-title  {
    padding-top: 0px;
    display:inline-flex;
    flex-flow:row;
    align-items: center;
}

.mdl-card {
  width: 512px;
}
.demo-card-wide, mdl-card__title {
  color: black;
  height: 176px;
}
.mdl-card__menu {
  color: black;
}


.mdl-card__actions mdl-card--border a {

}
.mdl-textfield__label {

}

.demo-card-wide div {
    display:flex;
    flex-flow: column;
    align-items: center;

}

.mdl-layout__content {
    padding-top: 100px;
}

.mdl-card__actions.mdl-card--border a {
    background-color: goldenrod;
    color:white;
    border-radius: 8px;
    width: 45%;

}

.mdl-card__supporting-text {
    width:auto;

}

.mdl-button__ripple-container {
    text-transform: capitalize;
    min-width: 80%;

}

.mdl-card .mdl-textfield__expandable-holder {
    width:220px;
}

.mdl-layout__header {
    background-color:goldenrod;
    text-shadow: 0.5px 0.5px 1px black;
}

label.mdl-textfield__label:after {
    background-color:lightgray;
}
